@using Abp.Collections.Extensions
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Views.Shared.Components.AppAreaNameSideBar
@model UserMenuItemViewModel

<li class="@(Model.MenuItemIndex == 0 && Model.RootLevel ? "start" : "") @(Model.MenuItem.IsMenuActive(Model.CurrentPageName) ? "active" : "")">
    @if (Model.MenuItem.Items.IsNullOrEmpty())
            {
        <a href="@Model.MenuItem.CalculateUrl(ApplicationPath)">
            <i class="@Model.MenuItem.Icon"></i>
            <span class="title">@Model.MenuItem.DisplayName</span>
        </a>
    }
    else
    {
        <a href="javascript:;" class="auto">
            <i class="@Model.MenuItem.Icon"></i>
            <span class="title">@Model.MenuItem.DisplayName</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            @for (var i = 0; i < Model.MenuItem.Items.Count; i++)
            {
                var childMenuItem = Model.MenuItem.Items[i];
                if (!childMenuItem.IsVisible)
                {
                    continue;
                }
                @Html.Partial("Components/AppAreaNameSideBar/_UserMenuItem", new UserMenuItemViewModel
                {
                    MenuItem = childMenuItem,
                    MenuItemIndex = i,
                    CurrentPageName = Model.CurrentPageName,
                    RootLevel = false
                })
            }
        </ul>
    }
</li>
    